// COLORS

$color-primary: #0071B7;
$color-primary-light: #29A6DD;
$color-primary-light-2: #c0e0ee;

$color-grey-dark: #4D4D4D;
$color-grey-light: #949494;
$color-grey-light-2: #C7C7C7;
$color-grey-light-3: #E1E1E1;
$color-grey-light-4: #EFEFEF;

$color-white: #FFF;

$color-green-dark: #0c5e04;

$color-red-dark: #b1160b;

// FONT

$default-font-size: 1.4rem;
$font-size-small: 1.2rem;       
$font-size-medium: 1.6rem;      
$font-size-large: 1.8rem;
$font-size-huge: 2.4rem;      

$font-primary: 'Barlow', sans-serif;
$font-secondary: 'Barlow Condensed Demi', sans-serif;
$font-tertiary: 'Barlow Condensed', sans-serif;
$font-heading: 'Barlow Demi', sans-serif;
