@use '../../style/abstracts/variables' as *;

.message-container {
    display: flex; 
    flex-direction: column-reverse; 

    position: absolute;
    margin: 4rem;
    padding: 1rem;
    border: 1px solid $color-primary;
    border-radius: 3px;
    top: 10vh;
    right: 0;

    width: 30vw;
    height: 80vh;

    background: rgba(255,255,255,0.8);

    overflow-y: auto;    
    overflow-anchor: none;
}


.message {
    &__box {
        display: flex;
        position: relative;
        margin-top: 0.5rem;

        font-family: 'Courier New', Courier, monospace;
        font-size: 1.2rem;
        font-stretch: condensed;

        width: 100%;
        justify-content: flex-start;
        align-items: center;

        & p {            
            margin: 0; 
        }
    }

    &__id {
        display: block;
        width: 5rem; 
        color: $color-grey-dark;

        font-size: 1rem;
        font-family: $font-primary;
        font-weight: bold;
    }

    &__tp {
        padding-left: 1rem;

        overflow-wrap: anywhere;

        font-size: 1rem;
    }
}
