<div class="settings__group">    
    <input type="checkbox" class="settings__group--checkbox" 
        id="{{toggleId}}" attr.aria-labelledby="{{toggleId}}-label" 
        title="toggle {{elementTitle}} visibility"/>
    <label id="{{toggleId}}-label" for="{{toggleId}}" class="settings__group--button">
        <span class="settings__group--toggle-icon">&nbsp;</span>
    </label>
    
    <h3 class="heading-tertiary">{{elementTitle}}</h3>
    <div class="settings__group--body">
        <ng-content></ng-content>
    </div>
</div>
