@use "../abstracts/variables";

.button,
.button-disabled {
  display: block;
  border: none;
  text-align: center;
  width: variables.$default-button-width;
  height: variables.$default-button-height;
  margin-left: variables.$default-margin;
  font-family: variables.$font-heading;    
}

.button {    
    color: variables.$color-white;
    background-color: variables.$color-primary;    

    &:hover {
      background-color: variables.$color-primary-light;      
    }

    &:active {
        text-decoration: none;
        background-color: variables.$color-white;
        color: variables.$color-primary;
        border: 1px solid variables.$color-primary;
    }

    &:focus {
      outline: none;
    }

    &:link,
    &:visited {
        text-decoration: none;
    }

    &-disabled,
    &:disabled {
      color: variables.$color-grey-light;
      background-color: variables.$color-grey-dark;
    }
}

.btn-primary {
    color: variables.$color-white;
    background-color: variables.$color-grey-dark;
    border-color: variables.$color-grey-light;
  }