.button,
.button-disabled {
  display: block;
  border: none;
  text-align: center;
  width: $default-button-width;
  height: $default-button-height;
  margin-left: $default-margin;
  font-family: $font-heading;    
}

.button {    
    color: $color-white;
    background-color: $color-primary;    

    &:hover {
      background-color: $color-primary-light;      
    }

    &:active {
        text-decoration: none;
        background-color: $color-white;
        color: $color-primary;
        border: 1px solid $color-primary;
    }

    &:focus {
      outline: none;
    }

    &:link,
    &:visited {
        text-decoration: none;
    }

    &-disabled,
    &:disabled {
      color: $color-grey-light;
      background-color: $color-grey-dark;
    }
}

.btn-primary {
    color: $color-white;
    background-color: $color-grey-dark;
    border-color: $color-grey-light;
  }