.custom-list {
    margin-left: $side-column-width-right;
    margin-bottom: $default-col-gap;
  }
  
  ol.custom-list > li.list-item {  
    background: $color-grey-light-4;
    margin: 0.4rem 0;
    padding: 1rem;
    position: relative;
    display: block;  
  
    &:before {
      content: counter(custom-list);
      font-size: 3rem;
      color: $color-primary-light;
      position: absolute;
      left: -3rem;
      top: -0.5rem;
    }
  
    &:hover {
      background: $color-grey-dark;
      color: $color-white;
    }
  }
  
  li.list-item {
    counter-increment: custom-list;
  }
  
  ul.custom-list > li {
    margin: 0.4rem 0;
    padding: 0.4rem 0.4rem 0.4rem 1rem;
    display: block;
    border: 1px solid $color-grey-light-3;
  
    &:hover {
      background: $color-grey-dark;
      color: $color-white;
    }
  }