$color-blue-50: #000d13;
$color-blue-100: #001a25;
$color-blue-150: #002838;
$color-blue-200: #00354a;
$color-blue-250: #00425d;
$color-blue-300: #004f70;
$color-blue-350: #005c82;
$color-blue-400: #006a95;
$color-blue-450: #0077a7;
$color-blue-500: #0084ba;

$color-blue-550: #1a90c1;
$color-blue-600: #339dc8;
$color-blue-650: #4da9cf;
$color-blue-700: #66b5d6;
$color-blue-750: #80c2dd;
$color-blue-800: #99cee3;
$color-blue-850: #b3daea;
$color-blue-900: #cce6f1;
$color-blue-950: #e6f3f8;

$color-green-50: #00130c;	
$color-green-100: #002517;	
$color-green-150: #003823;	
$color-green-200: #004a2e;	
$color-green-250: #005d3a;	
$color-green-300: #007046;	
$color-green-350: #008251;	
$color-green-400: #00955d;	
$color-green-450: #00a768;	
$color-green-500: #00ba74;	

$color-green-550: #1ac182;	
$color-green-600: #33c890;	
$color-green-650: #4dcf9e;	
$color-green-700: #66d6ac;	
$color-green-750: #80ddba;	
$color-green-800: #99e3c7;	
$color-green-850: #b3ead5;	
$color-green-900: #ccf1e3;	
$color-green-950: #e6f8f1;

$color-red-50: #130600;
$color-red-100: #250d00;	
$color-red-150: #381300;	
$color-red-200: #4a1a00;	
$color-red-250: #5d2100;	
$color-red-300: #702700;	
$color-red-350: #822e00;	
$color-red-400: #953400;	
$color-red-450: #a73b00;	
$color-red-500: #ba4100;	

$color-red-550: #c1541a;	
$color-red-600: #c86733;	
$color-red-650: #cf7a4d;	
$color-red-700: #d68d66;	
$color-red-750: #dda080;
$color-red-800: #e3b399;	
$color-red-850: #eac6b3;	
$color-red-900: #f1d9cc;	
$color-red-950: #f8ece6;

$color-primary-dark: $color-blue-300;
$color-primary: $color-blue-500;
$color-primary-light: $color-blue-600;
$color-primary-very-light: $color-blue-800;

$color-secondary-dark: $color-green-300;
$color-secondary: $color-green-500;
$color-secondary-light: $color-green-600;
$color-secondary-very-light: $color-green-800;

$color-tertiary-dark: $color-red-300;
$color-tertiary: $color-red-500;
$color-tertiary-light: $color-red-600;
$color-tertiary-very-light: $color-red-800;

$color-black: #000;
$color-white: #fff;

$color-shadow-default: rgba(33, 33, 33, 0.1);
$color-shadow-light: rgba(33, 33, 33, 0.05);

$color-shadow-dark: rgba(33, 33, 33, 0.8);

$color-grey-dark: #666;
$color-grey-light: #aaa;
$color-grey-very-light: #ccc;
$color-grey-x-light: #eee;

$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Roboto Condensed', sans-serif;

$font-weight-bold: 800;
$font-weight-medium: 600;
$font-weight-default: 400;
$font-weight-light: 200;

$font-size-large: 2.4rem;
$font-size-medium: 1.8rem;
$font-size-default: 1.6rem;
$font-size-small: 1.4rem;

$element-width-diagram: 80rem;