@use 'reflex' as reflex;

.interactions {
    &__visualization {
        margin-top: reflex.$default-margin;
        width: 100%;
        height: 40vh;

        border: 1px solid reflex.$color-grey-light-3;

        position: relative;

        background-color: reflex.$color-white;

        z-index: 200;
    }

    &__point {
        position:absolute;

        top: -17.5px;
        left: -17.5px;

        width: 35px;
        height: 35px;

        border-radius: 100%;

        &--confidence {
            position:absolute;

            top: -17.5px;
            left: -17.5px;

            width: 35px;
            height: 35px;

            border-radius: 100%;

            background-color: transparent;

            border: 0.25px solid reflex.$color-primary-light;
        }

        &--id {
            color: reflex.$color-white;
            font-family: reflex.$font-heading;
            text-align: center;
            min-width: 30px;
            min-height: 30px;

            margin-top: -3px;
            margin-left: -2px;

            font-size: 2.5rem;
        }
    }

    &__description {
        position: absolute;

        top: 40px;
        left: 20px;

        background-color: rgba(reflex.$color-grey-light-2, reflex.$alpha: 0.5);
        border: 1px solid reflex.$color-primary;

        padding: reflex.$default-margin;

        table {
            border:none;
            margin-bottom: 0;

            tbody tr {
                background-color: transparent;

                &:hover {
                    box-shadow: none;
                  }
            }
        }
    }
}
