
@use '../style/abstracts/variables' as *;


.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right, transparent, $color-grey-light-3);
    color: $color-primary;
    font-weight: 600;
    font-family: $font-primary;

    &__title {
        margin-left: 8.9rem;
        margin-top: 24rem;
        font-size: 1.6rem;
    }   
}

#reflex-logo {
    position: absolute;
    height: 160px;
    top: 1rem;
    left: 2rem;
}

#htw-logo-img,
#htw-logo-text {
    height: 40px;
    margin: 0 8px;
}

.spacer {
    flex: 1;
}

.content {
    height: 100vh;
    width: 100vw;
    display: block;
    background-color: $color-white;
}

.clicked {
    height: 100vh;
    width: 100vw;
    display: block;
    background-color: $color-primary-light;
}

.card-container {
    position: absolute;

    top: 8rem;
    right: 4rem;
}

.circle-link {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 0.2s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  .circle-link:active {
    background-color: $color-primary;
    color: $color-white;
  }

  .touchPoint {
      position: absolute;
      top: -90px;
      left: -90px;
      width: 180px;
      height: 180px;
      
      background-color: transparent; 

      font-family: $font-tertiary;
      color: $color-primary;
      font-size: 8rem;

      &__outerCircle {

        position:relative;
        width: 170px;
        height: 170px;
        border-radius: 100%;        
        background-color: $color-primary;        

        &.pull {
          background-color: $color-red-dark;  
      
        }

        &.push {
          background-color: $color-green-dark; 
        }
      }

      &__innerCircle {
        position:relative;
        width: 150px;
        height: 150px;
        margin-top: -160px;
        margin-left: 10px;
        border-radius: 100%;        
        background-color: $color-white;

        display: flex;
        justify-content: center;
        align-items: center;
      }
  }

.clickPoint__outerCircle {
    background-color: $color-grey-light;   
  }
