<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    id="reflex-logo"
    alt="ReFlex Logo"
    src="assets/img/reflex-logo.png"
  />
  <span class="toolbar__title">Basic Angular App</span>
    <div class="spacer"></div>
    <img id="htw-logo" alt="HTW-Logo" src="assets/img/Logo_HTW_Dresden.png">
</div>

<div class="content" role="main" #interactionCanvas>
  <div *ngFor="let tp of TouchPoints$ | async">
    <div class="touchPoint" [style]="'transform: translate('+tp.posX * this.Width+'px, '+tp.posY * this.Height+'px);'">
      <div class="touchPoint__outerCircle"></div>
      <div class="touchPoint__innerCircle"><p>{{tp.touchId}}</p></div>      
    </div>
  </div>  

</div>

<app-status></app-status>

<router-outlet></router-outlet>
