body {
    margin: 0;
    display: grid;
    grid-template-columns: 4rem 28rem 15rem 1fr 15vw 4rem;
    grid-template-rows: 3rem 7rem 3rem 1fr 3rem 7rem 3rem;

    background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1) 85%, rgba(255,255,255,0) 95%), url("/reflex/assets/layout/footer_bg.jpg");
    background-attachment: fixed;
    background-position: bottom right;
    background-size: contain;
    background-repeat: no-repeat;    
    background-blend-mode: normal;

    min-height: 100vh;
}

table {
  border-bottom: 2px solid $color-primary-dark;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;

  min-width: 60%;
}

tbody, td, tfoot, th, thead, tr {
  padding: 0.2rem 2rem 0.2rem 1rem;
}

thead {
  background-color: $color-primary-dark;
  color: $color-white;
}

th {
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: $color-grey-x-light;
}

div.highlight {
  margin: 1rem 3rem;
  padding: 1rem 0 0.5rem 0;
  display: block;
  box-shadow: 0px -5px 10px 0px rgba(33, 33, 33, 0.15), 0px 5px 10px 0px rgba(33, 33, 33, 0.15);

  color: $color-primary-dark;
}