.content {
    grid-column: 3 / 5;
    grid-row: 4 / 4;

    padding: 2rem 4rem;

    font-size: $font-size-small;
    font-family: $font-primary;
    font-weight: $font-weight-light;

    max-width: 120rem;
    transition: all 0.5s ease-in-out;

    @media only screen and (max-width: $bp-large) {
        grid-column: 3 / 6;
    }

    @media only screen and (max-width: $bp-medium) {
        grid-row: 5 / 5;
        grid-column: 2 / 5;
        padding: 2rem;
    }

    & &__title-image {
        margin: 2rem 0;
        max-height: 40vh;
        width: 100%;

        padding: 0;
        border: none;
        box-shadow: none;
    }

    & ul {
        color: $color-grey-dark;
        margin-left: 3rem;
    }

    & a {
        font-family: $font-secondary;
        font-weight: $font-weight-default;

        &:hover {
            color: $color-primary-dark;
            border-bottom: 1px dotted $color-primary;

            & img {
                transform: scale(1.05);
                transition: transform 0.2s ease-in-out;
            }
        }

        &:has(img):hover {
            border: none;
        }
    }

    & img {
        margin: 1rem auto;
        max-height: 40vh;
        max-width: 100%;

        box-shadow: 0 0 15px 3px $color-shadow-default;
        padding: 1rem;
        background-color: $color-white;
        display: flex;
    }

    & img[src$="#build-status"] {
        margin: 1rem;
        border: none;
        padding: 0;
        display: inline-block;
    }

    & .media-wrapper {
        display: flex;
        justify-content: center;
        height: min-content;
        align-items: stretch;
        padding: 1rem 1rem 3rem 1rem;

        & iframe {
            width: 40vw;
            height: 30vh;
        }
    }

    & .full-width-scheme {
      padding:0;
      max-height: fit-content;
      box-shadow: none;
    }
}

.sections {
    display: grid;
    align-items: stretch;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 3rem;


    &__title-image {
        width: 100%;
    }

    & h2 {
        text-align: center;
    }

    &__item {
        border-bottom: 4px solid $color-primary;
    }
}

.image-container {
    display: flex;

    & div {
        margin-right: 1rem;

        &:last-child {
            margin-right: 0;
        }
    }

    & img {
        width: 100%;
        height: auto;
    }
}

.pro-contra {

    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;

        column-gap: 3rem;

        & ul {
            list-style: none;
        }
    }

    &__item:nth-child(odd) li::before {
        content: "+";
        margin-left: -1rem;
        margin-right: .5rem;
    }

    &__item:nth-child(even) li::before {
        content: "-";
        margin-left: -1rem;
        margin-right: .5rem;
    }
}

.transparent-background {
  background-color: transparent;
}

#table-of-contents {

    @media only screen and (min-width: $bp-large) {

        position: absolute;
        right: 4rem;
        top: 18rem;

        width: 15vw;

        & + ol:first-of-type {
            position: absolute;
            right: 4rem;
            width: 15vw;
            top: 24rem;
        }
    }
}
