
footer {
    grid-column: 2 / -2;
    grid-row: 6 / 6;
    background-size: cover;
    background-position-y: bottom;
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;

    @media only screen and (max-width: $bp-medium) {
        grid-column: 0 / -1;
        grid-row: 7 / 7;
    }
}