@use 'reflex' as reflex;

.history {

    &__panel {
        width: 100%;
        height: 100%;

        &--canvas {
            width: 100%;
            height: 100%;
        }
    }

    &__point {
        fill: reflex.$color-grey-light-3;
    }

    &__line {
        stroke-width: 1;
        stroke: reflex.$color-primary-light;
        stroke-dasharray: 1 3;
    }
}
