.pullup-button-div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pullup-button {
  position: absolute;
  background-color: transparent;
  color: blue;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
}
  
  .pullup-area {
    width: 100%;
    background-color: white;
    border-top: 1px solid blue;
    height: 200px;
  }
  
  .pullup-content {
    padding: 20px;
    color: blue;
  }
  