<!-- <div class="pullup-button-div" [ngStyle]="{'position': isPullupOpen ? 'sticky' : 'unset'}"> -->
<div class="pullup-button-div">
    <button (click)="isPullupOpen = !isPullupOpen" class="pullup-button" [ngStyle]="{'top': isPullupOpen ? '70%' : '95%'}">
      <h1>{{ isPullupOpen ? 'v' : '^' }}</h1>
    </button>
  </div>
  <div *ngIf="isPullupOpen" class="pullup-area">
    <div class="pullup-content">
      <table class="pullup-table">
        <tr>
          <td>
            <app-timeline></app-timeline>
          </td>
          <td>
            <app-track-component></app-track-component>
          </td>
        </tr>
      </table>
    </div>
  </div>
  