<div class="content-panel">
  <div class="content__element margin-top-large">
    <div class="content__header margin-bottom-default">
      <h2 class="heading-primary">Colors</h2>
    </div>
    <div class="content__body margin-bottom-default">
      <div class="colors-panel">
        <div class="color__group">
          <h3 class="heading-secondary">Primary Color</h3>
          <app-color-item colorClass="color-primary" colorName="ColorPrimary" colorText="#0071B7, Alpha 100%"/>
          <app-color-item colorClass="color-primary-light" colorName="ColorPrimaryLight" colorText="#29A6DD, Alpha: 100%"/>
          <app-color-item colorClass="color-primary-light2" colorName="ColorPrimaryLight2" colorText="#C0E0EE, Alpha: 100%"/>
        </div>
        <div class="color__group">
          <h3 class="heading-secondary">Grey</h3>
          <app-color-item colorClass="color-black" colorName="ColorBlack" colorText="#000000, Alpha: 100%"/>
          <app-color-item colorClass="color-grey-dark" colorName="ColorGreyDark" colorText="#4D4D4D, Alpha: 100%"/>
          <app-color-item colorClass="color-grey-light" colorName="ColorGreyLight1" colorText="#949494, Alpha: 100%"/>
          <app-color-item colorClass="color-grey-light2" colorName="ColorGreyLight2" colorText="#C7C7C7, Alpha: 100%"/>
          <app-color-item colorClass="color-grey-light3" colorName="ColorGreyLight3" colorText="#E1E1E1, Alpha: 100%"/>
          <app-color-item colorClass="color-grey-light4" colorName="ColorGreyLight4" colorText="#EFEFEF, Alpha: 100%"/>
          <app-color-item colorClass="color-grey-white" colorName="ColorWhite" colorText="#FFFFFF, Alpha: 100%"/>
        </div>
        <div class="color__group">
          <h3 class="heading-secondary">Visualization</h3>
          <app-color-item colorClass="color-dark1_100" colorName="ColorDark1_100" colorText="#002338, Alpha: 100%"/>
          <app-color-item colorClass="color-dark1_75" colorName="ColorDark1_75" colorText="#002338, Alpha: 75%"/>
          <app-color-item colorClass="color-dark2_100" colorName="ColorDark2_100" colorText="#225473, Alpha: 100%"/>
          <app-color-item colorClass="color-dark2_75" colorName="ColorDark2_75" colorText="#225473, Alpha: 75%"/>
          <app-color-item colorClass="color-default_100" colorName="ColorDefault_100" colorText="#005B94, Alpha: 100%"/>
          <app-color-item colorClass="color-default_75" colorName="ColorDefault_75" colorText="#005B94, Alpha: 75%"/>
          <app-color-item colorClass="color-light2_100" colorName="ColorLight2_100" colorText="#0071B7, Alpha: 100%"/>
          <app-color-item colorClass="color-light2_75" colorName="ColorLight2_75" colorText="#0071B7, Alpha: 75%"/>
          <app-color-item colorClass="color-light1_100" colorName="ColorLight1_100" colorText="#3F99D1, Alpha: 100%"/>
          <app-color-item colorClass="color-light1_75" colorName="ColorLight1_75" colorText="#3F99D1, Alpha: 75%"/>
          <app-color-item colorClass="color-light0_100" colorName="ColorLight0_100" colorText="#79D2FA, Alpha: 100%"/>
          <app-color-item colorClass="color-light0_75" colorName="ColorLight0_75" colorText="#79D2FA, Alpha: 75%"/>
        </div>
        <div class="color__group">
          <h3 class="heading-secondary">Signal Colors</h3>
          <app-color-item colorClass="color-success" colorName="ColorSuccess" colorText="#026331, Alpha: 100%"/>
          <app-color-item colorClass="color-success-light" colorName="ColorSuccessLight" colorText="#008D45, Alpha: 100%"/>
          <app-color-item colorClass="color-error" colorName="ColorError" colorText="#6D090C, Alpha: 100%"/>
          <app-color-item colorClass="color-error-light" colorName="ColorErrorLight" colorText="#BC272D, Alpha: 100%"/>
          <app-color-item colorClass="color-calibration" colorName="ColorCalibration" colorText="#FFAE18, Alpha: 100%"/>
          <app-color-item colorClass="color-calibration-light" colorName="ColorCalibrationLight" colorText="#FFFFCC, Alpha: 100%"/>
        </div>
      </div>
    </div>
