<div class="content-panel">
  <div class="content__element margin-top-large">
    <div class="content__header margin-bottom-default">
      <h2 class="heading-primnary">Colors</h2>
    </div>
    <div class="content__body margin-bottom-default">
      <div class="colors-panel">
        <div class="color__group">
          <h3 class="heading-secondary">Primary Color</h3>
          <app-color-item ColorClass="color-primary" ColorName="ColorPrimary" ColorText="#0071B7, Alpha 100%"/>
          <app-color-item ColorClass="color-primary-light" ColorName="ColorPrimaryLight" ColorText="#29A6DD, Alpha: 100%"/>
          <app-color-item ColorClass="color-primary-light2" ColorName="ColorPrimaryLight2" ColorText="#C0E0EE, Alpha: 100%"/>
        </div>
        <div class="color__group">
          <h3 class="heading-secondary">Grey</h3>
          <app-color-item ColorClass="color-black" ColorName="ColorBlack" ColorText="#000000, Alpha: 100%"/>
          <app-color-item ColorClass="color-grey-dark" ColorName="ColorGreyDark" ColorText="#4D4D4D, Alpha: 100%"/>
          <app-color-item ColorClass="color-grey-light" ColorName="ColorGreyLight1" ColorText="#949494, Alpha: 100%"/>
          <app-color-item ColorClass="color-grey-light2" ColorName="ColorGreyLight2" ColorText="#C7C7C7, Alpha: 100%"/>
          <app-color-item ColorClass="color-grey-light3" ColorName="ColorGreyLight3" ColorText="#E1E1E1, Alpha: 100%"/>
          <app-color-item ColorClass="color-grey-light4" ColorName="ColorGreyLight4" ColorText="#EFEFEF, Alpha: 100%"/>
          <app-color-item ColorClass="color-grey-white" ColorName="ColorWhite" ColorText="#FFFFFF, Alpha: 100%"/>
        </div>
        <div class="color__group">
          <h3 class="heading-secondary">Visualization</h3>
          <app-color-item ColorClass="color-dark1_100" ColorName="ColorDark1_100" ColorText="#002338, Alpha: 100%"/>
          <app-color-item ColorClass="color-dark1_75" ColorName="ColorDark1_75" ColorText="#002338, Alpha: 75%"/>
          <app-color-item ColorClass="color-dark2_100" ColorName="ColorDark2_100" ColorText="#225473, Alpha: 100%"/>
          <app-color-item ColorClass="color-dark2_75" ColorName="ColorDark2_75" ColorText="#225473, Alpha: 75%"/>
          <app-color-item ColorClass="color-default_100" ColorName="ColorDefault_100" ColorText="#005B94, Alpha: 100%"/>
          <app-color-item ColorClass="color-default_75" ColorName="ColorDefault_75" ColorText="#005B94, Alpha: 75%"/>
          <app-color-item ColorClass="color-light2_100" ColorName="ColorLight2_100" ColorText="#0071B7, Alpha: 100%"/>
          <app-color-item ColorClass="color-light2_75" ColorName="ColorLight2_75" ColorText="#0071B7, Alpha: 75%"/>
          <app-color-item ColorClass="color-light1_100" ColorName="ColorLight1_100" ColorText="#3F99D1, Alpha: 100%"/>
          <app-color-item ColorClass="color-light1_75" ColorName="ColorLight1_75" ColorText="#3F99D1, Alpha: 75%"/>
          <app-color-item ColorClass="color-light0_100" ColorName="ColorLight0_100" ColorText="#79D2FA, Alpha: 100%"/>
          <app-color-item ColorClass="color-light0_75" ColorName="ColorLight0_75" ColorText="#79D2FA, Alpha: 75%"/>
        </div>
        <div class="color__group">
          <h3 class="heading-secondary">Signal Colors</h3>
          <app-color-item ColorClass="color-success" ColorName="ColorSuccess" ColorText="#026331, Alpha: 100%"/>
          <app-color-item ColorClass="color-success-light" ColorName="ColorSuccessLight" ColorText="#008D45, Alpha: 100%"/>
          <app-color-item ColorClass="color-error" ColorName="ColorError" ColorText="#6D090C, Alpha: 100%"/>
          <app-color-item ColorClass="color-error-light" ColorName="ColorErrorLight" ColorText="#BC272D, Alpha: 100%"/>
          <app-color-item ColorClass="color-calibration" ColorName="ColorCalibration" ColorText="#FFAE18, Alpha: 100%"/>
          <app-color-item ColorClass="color-calibration-light" ColorName="ColorCalibrationLight" ColorText="#FFFFCC, Alpha: 100%"/>
        </div>
      </div>
    </div>
