app-root {
    display: grid;
    min-height: 100vh;

    background-image: url('../../assets/img/footer_bg.jpg');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;

    grid-template-rows: [page-start] $page-margin-top [top-start] $header-height [top-end main-start] 1fr [main-end bottom-start] $default-footer-height [bottom-end];

    column-gap: $default-margin;
    justify-content: stretch;
    justify-self: stretch;
    align-self: stretch;

    grid-template-columns:
        [page-start]
            $side-colum-width-left
        [content-panel-start]
            1fr
        [content-panel-end]                                                                             // 1 column + margin on the left side
            $side-column-width-right
        [bg-end page-end];

    @include respond(tab-port) {
        grid-template-rows: [page-start] $page-margin-top [top-start] $header-height [top-end main-start] 1fr [main-end bottom-start] $small-footer-height [bottom-end];
    }

    @include respond(phone-large) {
        grid-template-columns:
        [page-start]
            $default-margin
        [content-panel-start]
            1fr
        [content-panel-end]                                                                             // 1 column + margin on the left side
            $default-margin
        [bg-end page-end];
    }


}

router-outlet {
    display:none;
}

app-settings {
    margin-top: 3.6rem;
    display: block;
}

app-point-cloud {
    display: block;
    position: relative;
}

.main-content {
    display: grid;
    grid-row: main-start / main-end;
    grid-column: content-panel-start / content-panel-end;

    grid-template-rows: auto;

    align-items: start;
}

.content-panel {
    display: grid;
    grid-auto-rows: auto;
    row-gap: $default-col-gap;
    grid-template-columns:
        [content-start] $default-grid-columns      // 7 columns
        [content-end];

    @include respond(tab-land) {
        grid-template-columns:
        [content-start] $medium-grid-columns      // 5 columns
        [content-end];
    }

    @include respond(tab-port) {
        grid-template-columns:
        [content-start] $small-grid-columns      // 3 columns
        [content-end];
    }

    column-gap: $default-col-gap;

    padding: 0;
}

.settings {

    grid-column: 1 / span 3;

    &__displayJSON {
        position: fixed;
        width: 80vw;
        height: 70vh;
        top: 15vh;
        left: 12rem;
        z-index: 1000;

        display: grid;
        grid-template-rows: 1fr 5rem;
        grid-template-columns: 1fr;

        align-items: end;
        justify-items: end;
        align-content: center;
        justify-content: center;

        background: $color-white;
        border: 1px solid $color-primary;
        border-radius: 5px;
        padding: 3rem;

        &--content {
            overflow-y: auto;
            overflow-x: hidden;

            height: 100%;
            width: 100%;
            display: block;

            text-wrap: balance;
            padding: 1rem;

            position: relative;
        }

        &--wrapper {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            & textarea {
                position: relative;
                width: 100%;
                height: 100%;
            }
        }
    }
}

.tuio-package {
    &__visualization {
        & code {
            white-space: pre-wrap;
            margin: calc(2* $default-col-gap) $default-col-gap;
            display: block;
            font-size: $font-size-small;
            font-weight: 400;

        }
    }
}

.point-cloud, .depth-image {
    aspect-ratio: 4 / 3;
    height: max-content;
}

.visualization__panel, .package-details {
    grid-column: 4 / -1;
    height: max-content;

    @include respond(tab-port) {
        grid-column: span 3;
    }
}

.depth-image {
    margin-bottom: $default-col-gap;
}

.processing,
.network,
.log,
.measure,
.tuio {
    display: grid;
    grid-template-columns: $default-grid-columns;
    column-gap: $default-col-gap;
}

.content__element {
    grid-column: $default-grid-box;

    @include respond(tab-port) {
        grid-column: 1 / -1;
    }
}

.content__element-narrow {
    grid-column: $narrow-grid-box;

    // @include respond(tab-port) {
    //     grid-column: 1 / -1;
    //     grid-row: 1;
    // }
}

.content__element-wide {
    grid-column: $wide-grid-box;

    // @include respond(tab-land) {
    //     grid-column: $default-grid-box;
    // }


}
