@use 'reflex' as reflex;

.footer {
    grid-column: page-start / page-end;
    grid-row: bottom-start / bottom-end;

    align-self: stretch;

    overflow: visible;

    margin-left: reflex.$default-margin;
    margin-right: reflex.$default-margin;



    &__content {
        display: flex;
        justify-content: space-between;

        margin-left: reflex.$side-colum-width-left;
        margin-right: reflex.$side-column-width-right;

        border-top: 1px solid reflex.$color-black;

        padding-top: reflex.$default-margin;

        @include reflex.respond(phone-large) {
            margin-left: reflex.$default-margin;
            margin-right: reflex.$default-margin;
        }

        &--text {
            justify-self: stretch;
        }

        &--logos {
            justify-self: right;

            & img {
                margin-left: reflex.$default-col-gap;
                height: reflex.$default-logo-height;

                @include reflex.respond(tab-port) {
                    height: reflex.$small-logo-height;
                }
            }

            & img:first-child {
                margin-left: 0;
            }
        }
    }
}
