@use 'reflex' as reflex;

.header {
    grid-row: top-start / top-end;
    grid-column: content-panel-start / content-panel-end;

    display: flex;
    flex-direction: column-reverse;

    &__logo {
        position: absolute;
        width: 14rem;
        top: reflex.$page-margin-top;
        left: 3.6rem;

        &:hover {
            transform: scale(1.3) translate(-5px, -8px);
            opacity: 0.5;
            transition: all 0.3s;
        }
    }

    &__title {
        display: block;
        border-top: 1px solid reflex.$color-black;

        font-family: reflex.$font-secondary;
        color: reflex.$color-primary;

        @include reflex.respond(phone-large) {
            margin-left: calc(#{reflex.$side-colum-width-left} - #{reflex.$default-margin});
        }
    }
}
