@use 'reflex' as reflex;

.navigation {
    grid-row: top-start / top-end;
    grid-column: content-panel-start / content-panel-end;
    justify-self: stretch;
    align-self: flex-end;
    font-size: reflex.$font-size-large;
    font-family: reflex.$font-heading;
    color: reflex.$color-grey-light-2;
    margin-bottom: 3.8rem;

    ul {
        grid-column: -6 / -1;

        display:flex;
        justify-content: space-between;
        list-style: none;

        @include reflex.respond(tab-port) {
            grid-column: -7 / -1;
            justify-content: space-evenly;
        }

        @include reflex.respond(phone-large) {
            height: 6rem;
        }
    }

    &__link {
        display: block;

        &:link,
        &:visited {
            display: block;
            color: reflex.$color-grey-light;
            text-decoration: none;
        }

        &:hover {
            display: block;
            color: reflex.$color-primary-light;
            transform: scale(1.2);
            transition: all 0.2s;
        }
    }


    &__item {
        display: block;

        & .link-active {
            color: reflex.$color-primary;
        }
    }
}

app-nav-menu {
    display: grid;
    grid-template-columns: repeat(7, minmax(6rem, 1fr));
    column-gap: reflex.$default-col-gap;
}
