@import 'abstracts/variables';

.legend-interaction {
    margin-top: $default-margin;
    width: 100%;

    &-item {
        display: grid;
        grid-template-columns: 3rem 1fr;
    }

    &-circle { 
        display: block;       
        width: 1rem;
        height: 1rem;
        border-radius: 100%;
        margin: 0.5rem 1rem;

        content: "";
    }

    &-label {
        font-family: $font-heading;
        font-size: $font-size-small;
        margin-top: 0.2rem;
    }

}