/* Slideshow container */
.slideshow-container {
    width: 90%;
  
    position: relative;
    margin: auto;
    margin-top: 3rem;
  }
  
  /* Hide the images by default */
  .slides {
    display: none;
    box-shadow: $color-shadow-default 0px 0px 15px 3px;
  
    max-height: 60vh;
  
    &.hide {
      display: none;
    }
  
    &.show {
      display: grid;
      grid-template-rows: 12% 85% 2%;
      align-items: center;
      justify-content: center;
    }
  
    &__image {
      width: 100%;
      height: 100%;
  
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-top:-5rem;
  
      & img {
        max-width: 100%;
        max-height: 100%;

        box-shadow: none;
      }
    }
  
    /* Caption text */
    &__caption {
      color: $color-primary-dark;
      font-size: $font-size-medium;
      padding: 0.8rem 1.2rem;
      width: 100%;
      text-align: center;
    }
  
    /* Number text (1/3 etc) */
    &__numbertext {
      color: $color-primary;
      font-size: $font-size-default;
      padding: 0.8rem 1.2rem;
      text-align: center;
    }
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -2.2rem;
    padding: 1.6rem;
    color: $color-grey-very-light;
    font-weight: bold;
    font-size: 1.8rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    text-decoration: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a primary color with a bit transparency */
  .prev:hover,
  .next:hover {
    background-color: $color-primary-dark;
    opacity: 0.8;
  }
  
  /* The dots/bullets/indicators */
  .nav {
    &__container {
      text-align: center;
      margin: 2rem;
    }
  
    &__dot {
      cursor: pointer;
      height: 1.5rem;
      width: 1.5rem;
      margin: 0 2px;
      background-color: $color-white;
      border: 2px solid $color-primary;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
      
      &:hover {
        background-color: $color-primary-very-light;
        border: 2px solid $color-white;
      }
    }
  }
  
  .active {
    background-color: $color-primary;
    border: 2px solid $color-white;
  }
  
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }