@use 'reflex' as reflex;
@use 'bootstrap/dist/css/bootstrap.min.css';
@use 'bootstrap/scss/mixins/breakpoints' as bootstrap-breakpoints;

$bootstrap-grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

@include bootstrap-breakpoints.media-breakpoint-down(xs, $bootstrap-grid-breakpoints);
@include bootstrap-breakpoints.media-breakpoint-down(sm, $bootstrap-grid-breakpoints);
@include bootstrap-breakpoints.media-breakpoint-down(md, $bootstrap-grid-breakpoints);
@include bootstrap-breakpoints.media-breakpoint-down(lg, $bootstrap-grid-breakpoints);

$white: #ffffff;
$grey-lightest: #f7f7f7;
$grey-lighter: #ebebeb;
$grey-light: #c1c1c1;
$grey: #888888;
$grey-dark: #363636;
$grey-darker: #292929;
$blue-link: #007bff;

$red: #ee4931;
$green: #10cc19;

$border-radius-default: 4px;

$margin-default: 2rem;
$margin-small: 1rem;
$margin-mini: .5rem;

$padding-default: 2rem;
$padding-small: 1rem;
$padding-mini: .5rem;

html{
  margin: 0 ;
  padding: 0;
  font-size: 10px;
}

body {
  margin: 0 ;
  padding: 0;
  font-size: 1.6rem ;
}
