@use "../abstracts/variables";

.content {
  margin-top: variables.$margin-large;

  &__header {
    border-bottom: 1px solid variables.$color-primary;
    display: flex;
    justify-content: space-between;
  }
}

.settings {
  &__status-detail {
    font-family: variables.$font-primary;
    color: variables.$color-grey-light-2;
  }

  &__group {
    display: grid;
    grid-template-columns: 2.2rem 1fr;
    margin-top: 1.6rem;

    & .heading-tertiary {
      grid-column: 2;
    }

    &--body {
      visibility: collapse;
      display: none;
      grid-column: 2;
    }

    &--checkbox {
      display: none;
    }

    &--button {
      grid-column: 1;
      background-color: variables.$color-white;
      height: 2rem;
      width: 2rem;
      padding-top: 0.2rem;

      text-align: center;
      cursor: pointer;
    }

    &--checkbox:checked ~ &--body {
      visibility: visible;
      display: block;
    }

    &--checkbox:checked + &--button &--toggle-icon::before {
      visibility: hidden;
    }

    &--toggle-icon {
      margin-top: 1.1rem;
      position: relative;

      &,
      &::before {
        width: 1.2rem;
        height: 2px;
        background-color: variables.$color-primary;
        display: inline-block;
      }

      &::before {
        content: "";
        position: absolute;

        left: 0;
        transition: all 0.2s;

        transform: rotate(90deg);
        top: 0;
        visibility: visible;
      }
    }
  }

  &__item,
  &__button-container {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    column-gap: variables.$default-col-gap;
  }

  &__item-narrow {
    display: grid;

    grid-template-columns: 2fr 1fr 1fr;
    column-gap: variables.$default-col-gap;
  }

  &__item,
  &__item-narrow {
    font-size: variables.$font-size-small;

    &--content,
    &--content-range {
      grid-column: 1 / span 2;

      margin-top: 0.6rem;
    }

    &--content-button-large,
    &--content-button {
      display: flex;
      justify-content: space-between;

      margin-top: 0.6rem;

      & .button,
      & .button-disabled {
        width: 100%;
        margin-left: 0;
        padding-top: 0.4rem;
      }
    }

    &--content-button-large {
      grid-column: 1 / span 2;
    }

    &--content {
      display: flex;
      justify-content: space-between;
    }

    &--content-checkbox {
      position: relative;
      top: -0.7rem;
      right: 0;
      display: grid;
      grid-template-columns: 1fr 2rem;
      grid-column: 2 / span 2;
      min-height: 2.7rem;
    }

    &--content-range {
      display: grid;
      grid-template-columns: 1fr 3rem 2fr 3rem 5rem 2rem;
    }

    &--content-range-no-tooltip {
      display: grid;
      grid-template-columns: 1rem 2fr 1rem;
      grid-column: 2 / span 2;
    }

    &--input {
      margin-left: variables.$default-col-gap;
    }

    &--label {
      font-family: variables.$font-heading;
      line-height: 2rem;
    }

    &:hover &--info {
      visibility: visible;
    }

    &--info {
      grid-column: 3;
      height: 0;
      overflow: visible;
      visibility: hidden;

      color: variables.$color-grey-light;
    }

    &--valueMin,
    &--valueMax {
      font-family: variables.$font-tertiary;
      color: variables.$color-grey-light;
    }

    &--valueMin {
      text-align: right;
    }

    &--unit {
      font-family: variables.$font-secondary;
    }
  }

  &__button-group {
    display: flex;

    justify-content: flex-end;
    grid-column: 1 / span 2;
    margin-top: variables.$default-col-gap;
    line-height: variables.$default-button-height;
  }
}
