a {
  text-decoration: none;
  color: $color-primary-light;
  font-weight: $font-weight-default;
}

h1 {
  font-family: $font-primary;
  font-weight: $font-weight-bold;
  text-transform: uppercase;

  color: $color-primary;

  font-size: $font-size-medium;
}

h2 {
  font-family: $font-primary;
  font-weight: $font-weight-bold;

  font-size: $font-size-medium;

  color: $color-primary-dark;
  margin: 3rem 0rem 1rem 0rem;
}

h3 {
  font-family: $font-secondary;
  font-weight: $font-weight-default;

  font-size: $font-size-default;

  color: $color-primary-light;

  margin: 2rem 0rem 1rem 0rem;
}

p {
  font-family: $font-primary;
  font-weight: $font-weight-default;

  color: $color-grey-dark;

  font-size: $font-size-small;

  & strong {
    font-family: $font-primary;    
  }
}

strong {
  color: $color-primary-dark;
  font-weight: $font-weight-bold;
}

em {
  color: $color-primary-light;
  font-style: italic;
}

code {
  color: $color-secondary;
  font-weight: $font-weight-bold;
}
