a {
  text-decoration: none;
  color: $color-primary-light;
  font-weight: $font-weight-default;
}

h1 {
  font-family: $font-primary;
  font-weight: $font-weight-bold;
  text-transform: uppercase;

  color: $color-primary;

  font-size: $font-size-medium;
}

h2 {
  font-family: $font-secondary;
  font-weight: $font-weight-bold;

  font-size: $font-size-default;

  color: $color-grey-dark;

  margin-left: 4rem;
}

p {
  font-family: $font-secondary;
  font-weight: $font-weight-default;

  color: $color-grey-dark;

  font-size: $font-size-small;
}
