@font-face {
    font-family: 'Barlow';
    src: url('/assets/fonts/Barlow-Regular.ttf') format("opentype");
}

@font-face {
    font-family: 'Barlow Italic';
    src: url('/assets/fonts/Barlow-Italic.ttf') format("opentype");
}

@font-face {
    font-family: 'Barlow Demi';
    src: url('/assets/fonts/Barlow-SemiBold.ttf') format("opentype");
}

@font-face {
    font-family: 'Barlow Condensed Demi';
    src: url('/assets/fonts/BarlowCondensed-SemiBold.ttf') format("opentype");
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('/assets/fonts/BarlowCondensed-Regular.ttf') format("opentype");
}