<div class="recorder__main__content" role="main">
    <div class="recorder__header">
        <div>
            <img src="./assets/img/reflex-logo2.png" class="header__logo">
        </div>
        <div class="settings__button-group">
            <a class="button" (click)="createGesture()">create</a>
            <a class="button" (click)="saveGesture()">save</a>
            <a class="button" (click)="playGesture()">play</a>
            <a class="button" (click)="resetGesture()">reset</a>
        </div>
        <div class="recorder__gestureoptions">
            <app-dropdown></app-dropdown>
        </div>
    </div>
    <div class="recorder__body">
        <app-touch-area></app-touch-area>
    </div>
    <div class="recorder__footer">
        <app-pullup></app-pullup>
    </div>
</div>
<router-outlet></router-outlet>
