<div class="content" role="main">
    <div class="header">
        <div class="tabs">
            <p>Tab1</p>
            <p>Tab2</p>
            <p>Tab3</p>
        </div>
        <div class="gestureoptions">
            <app-dropdown></app-dropdown>
        </div>
    </div>
    <div class="body">
        <app-touch-area></app-touch-area>
    </div>
    <div class="footer">
        <app-pullup></app-pullup>
    </div>
  <div class="timeline">
    <app-new-timeline></app-new-timeline>
  </div>
</div>

<router-outlet></router-outlet>
