       <ul class="navigation__list">
        <li class="navigation__item">
          <a class="navigation__link" routerLink="/tracking" routerLinkActive="link-active">Tracking</a>
        </li>
        <li class="navigation__item" >
          <a class="navigation__link" routerLink="/calibration" routerLinkActive="link-active">Calibration</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" routerLink="/processing" routerLinkActive="link-active">Processing</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" routerLink="/network" routerLinkActive="link-active">Network</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" routerLink="/settings" routerLinkActive="link-active">Settings</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" routerLink="/log" routerLinkActive="link-active">Log</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" routerLink="/measure-surface" routerLinkActive="link-active">Measure</a>
        </li>
      </ul>
