<div class="content__header margin-bottom-default">
 <h2 class="heading-primary">Tracks</h2>
</div>
<table class="points__table margin-top-default grid-full-width">
  <thead class="points__table--head">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Frames</th>
      <th scope="col">Speed</th>
    </tr>
  </thead>
  <tbody class="points__table--body">
    <tr *ngFor="let entry of tableData; let i = index;" [class.selected]="i === selectedIndex" (click)="selectedIndex = i">
      <td scope="row">
        <input type="text" [(ngModel)]="entry.id" />
      </td>
      <td scope="row">
        <input type="text" [(ngModel)]="entry.name" />
      </td>
      <td scope="row" class="text-column">
        <input type="number" [(ngModel)]="entry.numFrames" />
      </td>
      <td scope="row">
        <input type="number" [(ngModel)]="entry.speed" step="0.1" />
      </td>
    </tr>
  </tbody>
</table>
<div class="settings__button-group">
  <button class="button" (click)="saveTrack()">Save</button>
  <button class="button" (click)="addTrack()">Add Track</button>
  <button class="button" (click)="deleteTrack(selectedIndex)">DeleteTrack</button>
</div>
