//@import 'reflex';

.track {
    &__container {
        position: relative;
        bottom: 0;
        right: 0;
        margin: 5px;
        background-color: white;
    }

    &__title {
        font-size: 16px;
        color: #0071B7 /*$color-primary*/;
    }

    &__table {
        width: 100%;
        border-collapse: collapse;

        th, td {
            padding: 8px;
            border-bottom: 1px solid #0071B7 /*$color-primary*/;
            color: #0071B7 /*$color-primary*/;
        }

        th {
            text-align: left;
        }

        td:last-child {
            text-align: center;
        }

        span.fas {
            cursor: pointer;
            color: white;
        }
    }
}
