@font-face {
    font-family: 'Barlow';
    src: url('/assets/fonts/Barlow-Regular.ttf') format("opentype");
}

@font-face {
    font-family: 'Barlow Italic';
    src: url('/assets/fonts/Barlow-Italic.ttf') format("opentype");
}

@font-face {
    font-family: 'Barlow Demi';
    src: url('/assets/fonts/Barlow-SemiBold.ttf') format("opentype");
}

@font-face {
    font-family: 'Barlow Condensed Demi';
    src: url('/assets/fonts/BarlowCondensed-SemiBold.ttf') format("opentype");
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('/assets/fonts/BarlowCondensed-Regular.ttf') format("opentype");
}

body {
    font-family: $font-primary;
    font-weight: 400;
    font-size: $default-font-size;
    line-height: 1.7;
    color: $color-grey-dark; 
}

.heading-primary {
    font-family: $font-secondary;    
    font-size: $font-size-large;
    color: $color-primary;    
}

.heading-secondary {
    font-family: $font-secondary;
    font-size: $font-size-medium;
}

.heading-tertiary {
    font-family: $font-heading;
    font-size: $font-size-medium;
    color: $color-grey-light;
}