<div class="content__header margin-bottom-default">
  <h2 class="heading-primary">Controls: Buttons</h2>
</div>
<p class="margin-bottom-default">
  Differently styled buttons. No special Controls, just styling.
</p>
<div class="settings__button-container">
  <div class="settings__button-group">
    <a class="button">Default</a>
    <a class="button-disabled">Disabled</a>
  </div>
</div>
<div class="content__body margin-bottom-default">
  <app-settings-group elementTitle="Additional Info" toggleId="button_info">
    <ul>
      <li>wrap in element with <code>class="settings__button-group"</code> to get horizontally aligned buttons</li>
      <li>use <code>(click)</code> to attach to click events</li>
    </ul>
  </app-settings-group>
</div>
