.timeline {
    &__container {
        display: flex;
        flex-direction: column;
        border-radius: 4px;
        padding: 8px;
        margin: 0 8px;
        position: absolute;
        bottom: 0; /* Setzen Sie die Position auf bottom */
        left: 0;
        width: calc(60% - 16px); /* Breite um 40 % reduzieren */
        max-height: calc(20% - 16px); /* Höhe um 40 % reduzieren */
        overflow-y: auto; /* Scrollen bei Bedarf aktivieren */
        background: #555; /* Beispielhintergrundfarbe */
        box-sizing: border-box;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;

        .timeline__title {
            margin: 0;
            font-size: 16px;
            color: #fff;
        }
    }
}
