<button (click)="isGestureDropdownOpen = !isGestureDropdownOpen" class="dropdown_button">
    <h2>
        Gestenoptionen
        <img [src]="'./assets/img/dropdown-arrow.svg'" [class.rotated]="isGestureDropdownOpen">
    </h2>
</button>
<div *ngIf="isGestureDropdownOpen" class="dropdown">
    <div class="dropdown-gesture-options">
        <h3>Gestenoptionen</h3>
    </div>
</div>

<button (click)="isRecorderDropdownOpen = !isRecorderDropdownOpen" class="dropdown_button">
    <h2>
        Recoderoptionen
        <img [src]="'./assets/img/dropdown-arrow.svg'" [class.rotated]="isRecorderDropdownOpen">
    </h2>
</button>
<div *ngIf="isRecorderDropdownOpen" class="dropdown">
    <div class="dropdown-recoder-options">
        <app-options></app-options>
    </div>
</div>