<div class="dropdowns__container">
    <div>
      <button (click)="isSavingDropdownOpen = !isSavingDropdownOpen" class="dropdown_button">
          <h2>
              Saving Options
              <img [src]="'./assets/img/dropdown-arrow.svg'" [class.rotated]="isSavingDropdownOpen">
          </h2>
      </button>
      <div *ngIf="isSavingDropdownOpen" class="dropdown3">
          <div class="dropdown-saving-options">
              <app-savingoptions></app-savingoptions>
          </div>
      </div>
    </div>

    <div>
        <button (click)="isGestureDropdownOpen = !isGestureDropdownOpen" class="dropdown_button">
            <h2>
                Gesture Options
                <img [src]="'./assets/img/dropdown-arrow.svg'" [class.rotated]="isGestureDropdownOpen">
            </h2>
        </button>
        <div *ngIf="isGestureDropdownOpen" class="dropdown1">
            <div class="dropdown-gesture-options">
                <app-gestureoptions></app-gestureoptions>
            </div>
        </div>
    </div>

    <div>
        <button (click)="isRecorderDropdownOpen = !isRecorderDropdownOpen" class="dropdown_button">
            <h2>
                Recorder Options
                <img [src]="'./assets/img/dropdown-arrow.svg'" [class.rotated]="isRecorderDropdownOpen">
            </h2>
        </button>
        <div *ngIf="isRecorderDropdownOpen" class="dropdown2">
            <div class="dropdown-recoder-options">
                <app-recorderoptions></app-recorderoptions>
            </div>
        </div>
    </div>
</div>
