@use 'reflex' as reflex;
.dropdowns__container{
  display: flex;
}

.dropdown1 {
  position: fixed;
  background-color: reflex.$color-white;
  border: 1px solid reflex.$color-primary;
  border-radius: 4px;
  padding: 10px;
  color: reflex.$color-primary;
  width: 300px;
  z-index: 9999;
}
.dropdown2 {
  position: fixed;
  background-color: reflex.$color-white;
  border: 1px solid reflex.$color-primary;
  border-radius: 4px;
  padding: 10px;
  color: reflex.$color-primary;
  width: 300px;
  z-index: 9999;
}

.dropdown3 {
  position: fixed;
  background-color: reflex.$color-white;
  border: 1px solid reflex.$color-primary;
  border-radius: 4px;
  padding: 10px;
  color: reflex.$color-primary;
  width: 300px;
  z-index: 9999;
}

.dropdown_button {
  background-color: transparent;
  color: reflex.$color-primary;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  width: 300px;
}

.dropdown_button:hover {
  color: reflex.$color-primary;
  background-color: reflex.$color-primary-light-2;
}

.dropdown_button img {
  transition: transform 0.3s;
  width: 30px;
  height: 30px;
}

.dropdown_button img.rotated {
  transform: rotate(180deg);
}
