//@import 'reflex';

.pullup-button-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9999;
}

.pullup-button {
  position: absolute;
  background-color: transparent;
  color: #0071B7 /*$color-primary*/;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
}

.pullup-area {
  width: 100%;
  background-color: white;
  border-top: 1px solid #0071B7 /*$color-primary*/;
  max-height: 220px;
  overflow-y: auto;
}

.pullup-content {
  color: #0071B7 /*$color-primary*/;
}

.pullup-table {
  width: 100%;
  border-collapse: collapse;

  td {
    max-height: 200px;
    vertical-align: top;
    &:first-child {
      width: 66.67%;
    }

    &:last-child {
      width: 33.33%;
    }
  }

}
