@import 'reflex';


// ##### pullup button #####
.pullup__button {
  position: absolute;
  background-color: transparent;
  color: $color-primary;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
  left: 50%;
  transform: translateX(-50%)
}
.pullup__button:hover {
  color: $color-primary;
}
.pullup__button img {
  transition: transform 0.3s;
  width: 30px;
  height: 30px;
}
.pullup__button img.rotated {
  transform: rotate(180deg);
}

// ##### pullup itself #####
.pullup__area {
  position: fixed;
  background-color: white;
  border: 1px solid $color-primary;
  border-radius: 4px;
  padding: 10px;
  color: $color-primary;
  z-index: 9999;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  top: 90%;
  max-height: 300px;
  overflow: scroll;
}
// .pullup__content {
//   color: $color-primary;
// }
.pullup__table {
  width: 100%;
  border-collapse: collapse;
  td {
    max-height: 200px;
    vertical-align: top;
    &:first-child {
      width: 66.67%;
    }
    &:last-child {
      width: 33.33%;
    }
  }

}
