@import 'reflex';

.timeline {
    &__container {
        position: relative;
        bottom: 0;
        right: 0;
        margin: 5px;
        background-color: white;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;

        .timeline__title {
            margin: 0;
            font-size: 16px;
            color: $color-primary;
        }
    }
}
