<header>
  <div class="header">
    <img src="./assets/img/reflex-logo.png" class="header__logo">
  </div>
</header>
<main>
  <div class="content-panel">
    <div class="content__element margin-top-large">
      <div class="content__header margin-bottom-default">
        <h2 class="heading-primary">{{ title }}</h2>
        <p>Version: {{ version }}</p>
      </div>
      <div class="content__body margin-bottom-default">
        <h3 class="heading-tertiary">Introduction</h3>
        <p>This Angular demo project showcases how to use the different styles and components provided by
          <code>&#0064;reflex/angular-components</code> Component Library located in
          <code>/packages/shared-angular-components</code>.</p>
        <p>This landing page should provide simple usage instructions (also documented in <code>readme.md</code>) and
          examples for the provided components (including spec regarding the css layouting).</p>
      </div>
      <div class="content__body">
        <app-settings-group elementTitle="Setup Instructions" toggleId="setup_instructions">
          <ol class="custom-list">
            <li class="list-item">
              <p>run <code>npm install</code> from the workspace root.</p>
              <p class="list-item__hint"><strong>HINT:</strong>to cleanup temporary files / stored packages / build
                artifacts, run <code>./cleanup_packages ./package-directories.txt</code> from inside the
                <code>scripts</code> folder (cf. <code>readme.md</code>)</p>
            </li>
            <li class="list-item">
              <p>
                Modify the <code>projects/your_project/architect/build/options</code> section in your <code>angular.json</code>:
              </p>
              <pre>{{ angular_json | async }}</pre>
            </li>
            <li class="list-item">
              <p>
                Add the necessary imports to your component (in case of standalone components) or <code>app.module.ts</code>
              </p>
              <pre>{{ component_imports | async }}</pre>
            </li>
            <li class="list-item">
              <p>build shared components by executing <code>npm run build:shared-components</code> from the workspace root.</p>
              <p class="list-item__hint"><strong>REMEMBER:</strong>every time you make a change to assets/ code in the shared components library, it has to be rebuild before the changes are applied to the consuming projects.</p>
            </li>
          </ol>
        </app-settings-group>
      </div>
      <div class="content__header margin-bottom-default">
        <h2 class="heading-primary">Controls</h2>
      </div>
      <div class="content__body margin-bottom-default">
        <div class="control__group">
          <h3 class="heading-secondary">Panel <Header></Header></h3>
          <app-panel-header class="content__header"
            elementTitle="Panel Header"
            [(data)]="toggleHeaderActive"
            (onChange)="toggleHeaderChanged()"
            [disabled]="!canToggleHeader"
          >
          <div>{{toggleToast}}</div>
          </app-panel-header>
          <p class="settings__status-detail">the toggle in the header id {{ toggleHeaderActive ? 'active' : 'inactive' }}</p>
          <app-settings-group elementTitle="Additional Info" toggleId="panel_header_info">
            <ul>
              <li>use with style <code>content__header</code></li>
              <li>use <code>data</code> property for displaying a toggle</li>
            </ul>
          </app-settings-group>
        </div>
        <app-option-checkbox elementTitle="checkbox">Toggle on/off</app-option-checkbox>
        <app-value-selection elementTitle="value-select">
          <select selection class="custom-select" data-enpassusermodified="yes" name="select-types" id="select-types-id"
            title="select type">
            <option>Filter 1</option>
            <option>Filter 2</option>
            <option>Filter 3</option>
            <option>Another filter</option>
            <option disabled>No filter</option>
          </select>
        </app-value-selection>
        <app-value-slider elementTitle="select value" elementId="custom-slider" [min]="0" [max]="150" Unit="g">
          Specify the weight of the element</app-value-slider>
        <app-value-text elementTitle="Text"></app-value-text>
      </div>
      <a class="button">Select</a>
    </div>
  </div>
  <div class="content-panel">
    <app-color></app-color>
  </div>
</main>
