@use 'reflex' as reflex;

.depthImage {

    &__view {
        position: relative;

        margin-top: reflex.$default-col-gap;
        margin-bottom: reflex.$default-col-gap;
        border: 1px solid reflex.$color-grey-light-3;

        & img {
            display: flex;
            width: 100%;
            height: auto;
        }
    }

    &__render {

        &.fullScreen {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;

            // z-index: 1500;
            background-color: reflex.$color-white;
        }

        &:focus {
            outline: none;
        }
    }
}
