@import 'abstracts/variables';

.measure {    

    &__visualization {
        margin-top: $default-margin;
        width: 100%;
        height: 20vh;

        border: 1px solid $color-grey-light-3;

        position: relative;

        background-color: $color-white;

        z-index: 200;
    }
}