<h2 class="heading-secondary">{{elementTitle}}</h2>
<ng-content></ng-content>
<div class="slider checkbox">      
    <input type="checkbox" value="None" class="checkbox-toggle" id="{{elementId}}-toggle" name="{{elementId}}-toggle" 
    [(ngModel)]="data" (ngModelChange)="update()" [disabled]="disabled"/>
    
    <label class="checkbox-toggle-label" for="{{elementId}}-toggle">
        <ng-content select=[extraLabel]></ng-content>
        <span class="on">ON</span><span class="off">OFF</span></label> 
</div>
