Content/StarterContent
Content/FirstPerson
Content/FirstPersonCPP
Content/FPWeapon
Content/Geometry

Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Packaged/WindowsNoEditor/UE4_WebSockets/Content/Paks/UE4_WebSockets-WindowsNoEditor.pak
Packaged/
