<div class="track__container">
    <h2 class="track__title">Tracks</h2>
    <table class="track__table">
        <thead>
            <tr>
                <th>Name</th>
                <th>ID</th>
                <th>Length</th>
                <th>Speed</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let track of tracks">
                <td>{{ track.name }}</td>
                <td>{{ track.id }}</td>
                <td>{{ track.length }}</td>
                <td>{{ track.speed }}</td>
                <td><span class="fas fa-lock"></span></td> <!-- Verschlussicon -->
                <td><span class="fas fa-eye"></span></td> <!-- Viewicon -->
                <td><span class="fas fa-trash-alt"></span></td> <!-- Müllkorbicon -->
            </tr>
        </tbody>
    </table>
</div>
