name: "ReFlex Emulator: Build"

on: 
  workflow_dispatch:
  workflow_call:
  push:
    branches:
      - main
  pull_request:
    types: [ opened, reopened, edited, synchronize ]
    branches:
      - main
jobs:
  build-emulator:
    runs-on: windows-latest
    name: install and build
    steps:
      - name: checkout repo with submodules
        uses: actions/checkout@main
      - name: setup node and install packages
        uses: ./.github/actions/npm-install
      - name: build shared types
        run: npm run build:shared-types
      - name: build emulator
        run: npm run build:emulator 