name: "ReFlex Server: Test"

on: 
  # make this workflow reusable
  workflow_call:
    outputs:
      artifact_name:
        description: "name of the artifact that has been uploaded"
        value: ${{ jobs.test-server.outputs.artifact_name }}
  # this workflow can be triggered manually
  workflow_dispatch:
  
jobs:
  test-server: 
    runs-on: windows-latest
    name: install and test
    env:
      artifact_name: Angular Test Report (ReFlex TrackingServer)
    outputs:
      artifact_name: ${{ env.artifact_name }}
    steps:
      - name: checkout repo with submodules
        uses: actions/checkout@main
      - name: setup node and install packages
        uses: ./.github/actions/npm-install
      - name: build shared types
        run: npm run build:shared-types 
      - name: run test
        working-directory: ${{ github.workspace }}
        run: npm run test:server
      - name: Attach TestResults as Build Artifact
        uses: actions/upload-artifact@main
        with:
          name: ${{ env.artifact_name }}
          path: ${{ github.workspace }}/test/artifacts/coverage 
      - name: Publish JUnit Test Report
        uses: mikepenz/action-junit-report@main
        if: success() || failure() # always run even if the previous step fails
        with:
          report_paths: '${{ github.workspace }}/test/artifacts/tests/junit-test-results.xml'
      
        
