name: "ReFlex Server: Lint"

on: 
  workflow_dispatch:
  workflow_call:
  
jobs:
  angular-lint: 
    runs-on: windows-latest
    name: install and lint
    steps:
      - name: checkout repo with submodules
        uses: actions/checkout@main
      - name: setup node and install packages
        uses: ./.github/actions/npm-install
      - name: build shared types
        run: npm run build:shared-types 
      - name: run linter
        working-directory: ${{ github.workspace }}
        run: npm run lint:server
